<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Recipes Only</title>
</head>

<body>
    <header>
        <nav>

            <a href="/recipes/new"><button>Create Recipe</button></a>
        </nav>
        
        <div class="banner">
        <img class="cover-img" src="https://i.imgur.com/6H77ftn.png" alt="">
    </div>
    </header>
    <div class="container">
        <% for (let i=0; i < recipes.length; i++) { %>



            <div class="image-content">
                <a href="/recipes/<%=recipes[i]._id%>"><img class="home-imgs" src="<%=recipes[i].img%>" alt="">
                    <h3>
                        <%=recipes[i].name%>
                    </h3>
                </a>
                <div class="edit-btn">
                    <a href="/recipes/<%=recipes[i]._id%>/edit"><button class="edit-btn">Edit Recipe</button></a>
                </div>

                <div class="delete-btn">
                <form action="/recipes/<%=recipes[i]._id%>?_method=DELETE" method="POST">
                    <input class="delete-btn" type="submit" value="Delete Recipe">
                </form>
            </div>
            </div>



            <%}%>
    </div>

</body>

</html>