<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Only</title>
</head>
<body>
    <header>
        <nav>
           
            <a href="/recipes/new"><button>Create Recipe</button></a>
        </nav>
    </header>
    <% for (let i = 0; i < recipes.length; i++) { %>
        
        
        
        <h1><%=recipes[i].name%></h1>
        <a href="/recipes/<%=recipes[i]._id%>"><img src="<%=recipes[i].img%>" alt=""></a>
        
        <a href="/recipes/<%=recipes[i]._id%>/edit"><button>Edit Recipe</button></a>

        <form action="/recipes/<%=recipes[i]._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Recipe">
        </form>
    <%}%>
    
</body>
</html>