<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Recipes Only</title>
</head>

<body>
    <ul>
        <li><a class="edit-nav" href="/recipes">My Recipes</a></li>
        <li><a class="edit-nav" href="/recipes/new">Create Recipe</a></li>
    </ul>

    <div class="edit-container">
        <div class="edit-sideimg"></div>
        <div class="edit-container2">
            <form action="/recipes/<%=recipes._id%>?_method=PUT" method="POST">
                <fieldset class="recipe-info">
                    <!-- recipes name -->
                    <legend>Recipe Information</legend>
                    <label for="name">Recipe Name</label>
                    <input type="text" name="name" value="<%=recipes.name%>" id="edit-input" /><br />
                    <!-- recipes image -->
                    <label for="img">Image</label>
                    <input type="text" name="img" value="<%=recipes.img%>" id="edit-input"/><br />
                </fieldset>
                <!-- recipe directions -->
                <fieldset>
                    <%console.log(recipes.ingredients)%>
                    <label for="ingredients">Ingredients</label>
                    <textarea id="ingredients" type="text" name="ingredients"><%=recipes.ingredients%></textarea>
                    <label for="directions">Directions</label>
                    <textarea id="directions" type="text" name="directions"><%=recipes.directions%></textarea> 
                </fieldset>
                <input type="submit" value="Edit Recipe" id="edit-input">
            </form>
        </div>
    </div>
</body>


</html>