<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Only</title>
</head>
<body>
    <header>
        <nav>
            <a href="/recipes"><button>My Recipes</button></a>
            <a href="/recipes/<%=recipes._id %>/edit"><button>Edit Recipe</button></a>
        </nav>
    </header>
    <main>
        <h1><%=recipes.name%></h1>
        <img src="<%=recipes.img%>" alt="">
        <ul>
            <li><%=recipes.ingredients%></li>
        </ul>
        <p><%=recipes.directions%></p>
    
    </main>
</body>
</html>