<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Recipes Only</title>
</head>

<body>
    <header>

        <ul>
            <li><a class="show-nav" href="/recipes">My Recipes</a></li>
            <li><a class="show-nav" href="/recipes/<%=recipes._id %>/edit">Edit Recipe</a></li>
        </ul>

    </header>
    <main>
        <h1>
            <%=recipes.name%>
        </h1>

        <div class="showimg-div">
            <img class="show-img" src="<%=recipes.img%>" alt="">
        </div>

        <h2>Ingredients:</h2>
        <div class="show-text">
        
            <p>
                <%=recipes.ingredients%>
            </p>
        </div>
        <h2>Directions:</h2>
        <div  class="show-text">
            <p>
                <%=recipes.directions%>
            </p>
        </div>
    </main>
</body>

</html>